<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
				<key>PluginType</key>
				<false/>
			</dict>
			<key>UseSystemIO</key>
			<false/>
		</dict>
		<key>#Comment-SortedOrder</key>
		<string>SortedOrder required if you have patched SSDTs in ACPI/patched</string>
		<key>PatchAPIC</key>
		<false/>
		<key>FixHeaders</key>
		<true/>
		<key>DSDT</key>
		<dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Find</key>
					<data>TFBDXw==</data>
					<key>Replace</key>
					<data>TFBDQg==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change LPC to LPCB, optionally pair with SSDT-EHCI_Disable.aml, SSDT-LPC.aml</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>FBJVUFJXAHA=</data>
					<key>Replace</key>
					<data>FBJYUFJXAHA=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Rename method UPRW to XPRW and use with SSDT-UPRW.aml to fix USB "instant wake" on sleep</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>RUNEVg==</data>
					<key>Replace</key>
					<data>RUNfXw==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Rename ECDV to EC__</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>SERBUw==</data>
					<key>Replace</key>
					<data>SERFRg==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change HDAS to HDEF</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>SEVDSQ==</data>
					<key>Replace</key>
					<data>SU1FSQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change HECI to IMEI</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>R0ZYMA==</data>
					<key>Replace</key>
					<data>SUdQVQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change GFX0 to IGPU</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X09TSQ==</data>
					<key>Replace</key>
					<data>WE9TSQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change _OSI to XOSI</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1NUQQ==</data>
					<key>Replace</key>
					<data>WFNUQQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change _STA to XSTA IN GPIO</string>
					<key>TgtBridge</key>
					<data>R1BJMA==</data>
				</dict>
				<dict>
					<key>Find</key>
					<data>UEVHUA==</data>
					<key>Replace</key>
					<data>R0ZYMA==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change PEGP to GFX0</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>R1BSVwI=</data>
					<key>Replace</key>
					<data>WFBSVwI=</data>
					<key>Disabled</key>
					<true/>
					<key>Comment</key>
					<string>change gprw to xprw</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>T1NJRA==</data>
					<key>Replace</key>
					<data>WFNJRA==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change OSID to XSID (to avoid match against _OSI XOSI patch)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X0xJRAA=</data>
					<key>Replace</key>
					<data>WExJRAA=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string> _LID TO XLID</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>QlROVgI=</data>
					<key>Replace</key>
					<data>WFROVgI=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>BTNV TO XTNV(DELL)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>QkFUMQ==</data>
					<key>Replace</key>
					<data>WEJBVA==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>BAT1 TO XBAT</string>
				</dict>
			</array>
			<key>Fixes</key>
			<dict>
				<key>FixAirport</key>
				<false/>
				<key>FixHDA</key>
				<false/>
				<key>AddHDMI</key>
				<false/>
				<key>AddDTGP</key>
				<false/>
				<key>FakeLPC</key>
				<false/>
				<key>#Comment-IRQ Fix</key>
				<string>The following fixes may be needed for onboard audio/USB/etc</string>
			</dict>
			<key>DropOEM_DSM</key>
			<true/>
			<key>SlpSmiAtWake</key>
			<false/>
		</dict>
		<key>AutoMerge</key>
		<true/>
		<key>HaltEnabler</key>
		<false/>
		<key>DisableASPM</key>
		<false/>
		<key>FixMCFG</key>
		<false/>
	</dict>
	<key>Boot</key>
	<dict>
		<key>NoEarlyProgress</key>
		<false/>
		<key>Legacy</key>
		<string>LegacyBiosDefault</string>
		<key>NeverHibernate</key>
		<true/>
		<key>CustomLogo</key>
		<false/>
		<key>HibernationFixup</key>
		<false/>
		<key>Arguments</key>
		<string>dart=0 kext-dev-mode=1 -cdfon brcmfx-country=#a brcmfx-driver=1 enable-hdmi20 -disablegfxfirmware igfxonln=1 slide=0 darkwake=4 agdpmod=pikera radpg=15</string>
		<key>Secure</key>
		<false/>
		<key>XMPDetection</key>
		<string>Yes</string>
		<key>Log</key>
		<false/>
		<key>Timeout</key>
		<integer>5</integer>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Hide</key>
		<array>
			<string>install</string>
			<string>preboot</string>
			<string>recovery</string>
			<string>filevault prebooter</string>
		</array>
		<key>Language</key>
		<string>zh-Hant:-16899</string>
		<key>PlayAsync</key>
		<false/>
		<key>Scan</key>
		<dict>
			<key>Tool</key>
			<true/>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<false/>
		</dict>
		<key>#ScreenResolution</key>
		<string>1920x1080</string>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>Theme</key>
		<string>Universe</string>
	</dict>
	<key>BootGraphics</key>
	<dict>
		<key>EFILoginHiDPI</key>
		<integer>2</integer>
		<key>UIScale</key>
		<integer>2</integer>
	</dict>
	<key>CPU</key>
	<dict>
		<key>UseARTFrequency</key>
		<false/>
		<key>C4</key>
		<true/>
		<key>HWPEnable</key>
		<true/>
		<key>C6</key>
		<true/>
		<key>C2</key>
		<true/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Inject</key>
		<false/>
		<key>ForceHPET</key>
		<false/>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<string>No</string>
		</dict>
		<key>UseIntelHDMI</key>
		<false/>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x1c,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,28,0</string>
				<key>device_type</key>
				<string>PCI bridge</string>
				<key>model</key>
				<string>Sunrise Point-LP PCI Express Root Port #1</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x15,0x1)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,21,1</string>
				<key>device_type</key>
				<string>Signal processing controller</string>
				<key>model</key>
				<string>Sunrise Point-LP Serial IO I2C Controller #1</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x15,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,21,0</string>
				<key>device_type</key>
				<string>Signal processing controller</string>
				<key>model</key>
				<string>Sunrise Point-LP Serial IO I2C Controller #0</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1c,0x4)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,28,4/0,0</string>
				<key>device_type</key>
				<string>Non-Volatile memory controller</string>
				<key>model</key>
				<string>PM971 NVMe SSD Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1D,0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>device_type</key>
				<string>Airport Extreme</string>
				<key>pci-aspm-default</key>
				<integer>0</integer>
				<key>model</key>
				<string>BCM4350 802.11ac Wireless Network Adapter</string>
				<key>name</key>
				<string>Airport</string>
				<key>AAPL,slot-name</key>
				<string>WLAN</string>
				<key>compatible</key>
				<string>pci14e4,4353</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x14,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,20,0</string>
				<key>device_type</key>
				<string>USB controller</string>
				<key>model</key>
				<string>Sunrise Point-LP USB 3.0 xHCI Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1c,0x6)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,28,6</string>
				<key>device_type</key>
				<string>PCI bridge</string>
				<key>model</key>
				<string>Sunrise Point-LP PCI Express Root Port #7</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x3)</key>
			<dict>
				<key>layout-id</key>
				<data>HgAAAA==</data>
				<key>model</key>
				<string>Sunrise Point-LP HD Audio</string>
				<key>hda-gfx</key>
				<string>onboard-2</string>
				<key>AAPL,slot-name</key>
				<string>Internal@0,31,3</string>
				<key>device_type</key>
				<string>Audio device</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x2)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,31,2</string>
				<key>device_type</key>
				<string>Memory controller</string>
				<key>model</key>
				<string>Sunrise Point-LP PMC</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,31,0</string>
				<key>device_type</key>
				<string>ISA bridge</string>
				<key>model</key>
				<string>???</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1c,0x0)/Pci(0x0,0x0)/Pci(0x4,0x0)/Pci(0x0,0x0)/Pci(0x4,0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,28,0/0,0/4,0/0,0/4,0/0,0</string>
				<key>device_type</key>
				<string>USB controller</string>
				<key>model</key>
				<string>DSL6540 USB 3.1 Controller [Alpine Ridge]</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,GfxYTile</key>
				<data>AQAAAA==</data>
				<key>framebuffer-unifiedmem</key>
				<data>AAAAgA==</data>
				<key>device-id</key>
				<data>HlkAAA==</data>
				<key>device_type</key>
				<string>VGA compatible controller</string>
				<key>hda-gfx</key>
				<string>onboard-1</string>
				<key>framebuffer-patch-enable</key>
				<data>AQAAAA==</data>
				<key>enable-hdmi20</key>
				<data>AQAAAA==</data>
				<key>enable-dpcd-max-link-rate-fix</key>
				<data>AQAAAA==</data>
				<key>AAPL,slot-name</key>
				<string>Internal@0,2,0</string>
				<key>AAPL,ig-platform-id</key>
				<data>AAAeWQ==</data>
				<key>enable-lspcon-support</key>
				<data>AQAAAA==</data>
				<key>model</key>
				<string>Intel HD Graphics 615</string>
				<key>dpcd-max-link-rate</key>
				<data>FAAAAA==</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1c,0x6)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,28,6/0,0</string>
				<key>device_type</key>
				<string>Non-Volatile memory controller</string>
				<key>model</key>
				<string>BG3 NVMe SSD Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x16,0x3)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,22,3</string>
				<key>device_type</key>
				<string>Serial controller</string>
				<key>model</key>
				<string>Sunrise Point-LP Active Management Technology - SOL</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1c,0x0)/Pci(0x0,0x0)/Pci(0x4,0x0)/Pci(0x0,0x0)/Pci(0x1,0x0)/Pci(0x0,0x1)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,28,0/0,0/4,0/0,0/1,0/0,1</string>
				<key>device_type</key>
				<string>Audio device</string>
				<key>model</key>
				<string>Baffin HDMI/DP Audio [Radeon RX 550 640SP / RX 560/560X]</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1c,0x4)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,28,4</string>
				<key>device_type</key>
				<string>PCI bridge</string>
				<key>model</key>
				<string>Sunrise Point-LP PCI Express Root Port #5</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x16,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,22,0</string>
				<key>device_type</key>
				<string>Communication controller</string>
				<key>model</key>
				<string>Sunrise Point-LP CSME HECI #1</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x15,0x3)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,21,3</string>
				<key>device_type</key>
				<string>Signal processing controller</string>
				<key>model</key>
				<string>Sunrise Point-LP Serial IO I2C Controller #3</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x15,0x2)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,21,2</string>
				<key>device_type</key>
				<string>Signal processing controller</string>
				<key>model</key>
				<string>Sunrise Point-LP Serial IO I2C Controller #2</string>
			</dict>
		</dict>
		<key>LpcTune</key>
		<false/>
		<key>HDMIInjection</key>
		<false/>
		<key>USB</key>
		<dict>
			<key>FixOwnership</key>
			<false/>
			<key>AddClockID</key>
			<false/>
			<key>Inject</key>
			<false/>
			<key>HighCurrent</key>
			<false/>
		</dict>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>EDID</key>
		<dict>
			<key>Inject</key>
			<false/>
		</dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>PatchVBios</key>
		<false/>
		<key>RadeonDeInit</key>
		<false/>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<false/>
		<key>AppleRTC</key>
		<false/>
		<key>KernelPm</key>
		<false/>
		<key>DellSMBIOSPatch</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Find</key>
				<data>SU9QQ0lUdW5uZWxsZWQ=</data>
				<key>Name</key>
				<string>AppleGPUWrangler</string>
				<key>Replace</key>
				<data>SU9QQ0lUdW5uZWxsZXE=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>AppleGPUWrangler Discrete Patch (c) egpu.io [goalque]</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>SU9QQ0lUdW5uZWxsZWQ=</data>
				<key>Name</key>
				<string>IOGraphicsFamily</string>
				<key>Replace</key>
				<data>SU9QQ0lUdW5uZWxsZXE=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>IOGraphicsFamily Patch (c) egpu.io [goalque]</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>Ym9hcmQtaWQ=</data>
				<key>Name</key>
				<string>AppleGraphicsDevicePolicy</string>
				<key>Replace</key>
				<data>Ym9hcmQtaXg=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Black Screen Patch Vega 56/64, RX580 etc. (c)Pike R. Alpha</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>g/sPDw==</data>
				<key>Comment</key>
				<string>USB Port limit patch #1/2 10.15.x (credit DalianSky)</string>
				<key>Disabled</key>
				<false/>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.iokit.IOUSBHostFamily</string>
				<key>Replace</key>
				<data>g/s/Dw==</data>
				<key>MatchOS</key>
				<string>10.15.x</string>
			</dict>
			<dict>
				<key>Find</key>
				<data>g/kPDw==</data>
				<key>Comment</key>
				<string>USB Port limit patch #2/2 10.15.x (credit DalianSky)</string>
				<key>Disabled</key>
				<false/>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>g/k/Dw==</data>
				<key>MatchOS</key>
				<string>10.15.x</string>
			</dict>
		</array>
		<key>KernelLapic</key>
		<false/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>ROM</key>
		<data>V6WxojdM</data>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>FirmwareFeatures</key>
		<string>0xFC0FE137</string>
		<key>Board-ID</key>
		<string>Mac-226CB3C6A851A671</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x09</string>
		<key>BiosVersion</key>
		<string>MBA82.88Z.F000.B00.2001052203</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisAssetTag</key>
		<string>Air-Enclosure</string>
		<key>PlatformFeature</key>
		<string>0x3A</string>
		<key>Family</key>
		<string>MacBook Air</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>FVF001303QX0000AD</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>ProductName</key>
		<string>MacBookAir8,2</string>
		<key>SmUUID</key>
		<string>ECB1DC9F-3EE8-4DD6-81FA-23DCD1A2374C</string>
		<key>Mobile</key>
		<true/>
		<key>BoardType</key>
		<integer>10</integer>
		<key>EfiVersion</key>
		<string>1037.80.41.0.0</string>
		<key>SerialNumber</key>
		<string>FVFC20Z7LYWM</string>
		<key>ProductName-Comment</key>
		<string>Using Haswell MacBookAir6,2 until Clover has support for KabyLake identifiers</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>BiosReleaseDate</key>
		<string>01/05/2020</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>#BacklightLevel</key>
		<integer>0</integer>
		<key>CustomUUID</key>
		<string>86C8DCA6-E3C2-4FAA-826F-B87E48CF30AC</string>
		<key>InjectSystemID</key>
		<true/>
		<key>BacklightLevel</key>
		<string>0x0300</string>
		<key>InjectKexts</key>
		<string>Yes</string>
	</dict>
</dict>
</plist>